.menu-container{
    height:auto;
    top:0;
    position:fixed;
    left:0;
    z-index: 5;
    padding-top: 56px;
    transition: all .3s;
}
.open-icon{
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 0 0 10px 0;
    background: #969696a8;
    transition: all .3s;
    color: #fff;
}

.menu{
    list-style: none;
    padding: 10px;
    margin: 0;
    min-height: 91vh;
}

.submenu-button{
    width: 100%;
    padding: 10px;
    text-align: left;
    background: #f0f0f0;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.board-list-container{
    height: 63vh;
}

.board-list{
    height: 100%;
    overflow: auto;
}

/* Scrollbar personalizado */
.board-list::-webkit-scrollbar {
    width: 10px; /* Ancho del scrollbar */
    position: absolute; /* Asegura que sea superpuesto */

}

.board-list::-webkit-scrollbar-track {
    background: transparent; /* Transparente para no ocupar espacio */
}

.board-list::-webkit-scrollbar-thumb {
    background-color: #888; /* Color del scroll */
    border-radius: 10px; /* Bordes redondeados */
    border: none; /* Sin espacio alrededor */
}

.board-list::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color cuando se pasa el mouse */
}